#root {
  width: 100%;
  max-width: none;

  min-height: 100vh;

  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

input,
textarea,
select {
  font-family: inherit;
}

img,
canvas {
  max-width: 100%;
}